<%- include('partials/header') %>

<div class="post-container">
  <h2><%= post.title %></h2>
  <p><%= post.postContent %></p>
  <small> <%= post.datePosted %></small>
</div>
<a href="/">Go Back</a>
<%- include('partials/footer') %>